In [31]:
import warnings
import itertools
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [32]:
data = pd.read_csv('ALL_MONTHS_FINAL.csv')
data = data.iloc[:,1:]
data = data.set_index('period')

In [33]:
data.head()

,Year,Month,Day,Hour,AP,C6,CO,NO,NO2,NOX,...,PM25,RF,RH,RT,SO2,SR,TOL,WD,WS,XYL
period,,,,,,,,,,,,,,,,,,,,,
01-01-2016 00:00,2016,1,1,0,953.25,0.46,1.51,20.11,68.99,89.10,...,75.25,0.0,58.18,17.72,40.58,0.11,3.23,16.39,0.41,2.35
01-01-2016 01:00,2016,1,1,1,952.98,0.27,1.22,20.50,68.79,89.29,...,101.77,0.0,61.08,16.91,40.46,0.02,2.18,16.33,0.53,1.53
01-01-2016 02:00,2016,1,1,2,952.69,0.14,1.05,20.89,66.25,87.13,...,83.33,0.0,62.52,16.43,38.97,0.01,1.65,16.30,0.45,1.08
01-01-2016 03:00,2016,1,1,3,952.45,0.17,0.98,21.09,66.43,87.51,...,61.98,0.0,64.72,15.66,39.07,0.00,1.30,16.25,0.29,0.76
01-01-2016 04:00,2016,1,1,4,952.43,0.12,0.93,21.21,67.40,88.61,...,69.20,0.0,68.06,14.93,39.65,0.00,1.15,16.23,0.28,0.60